.auth-form {
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    width: 358px;
    gap: 20px;
    border: 1px solid black;
}

.auth-form__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    display: table-caption;
    text-align: center;
    padding-bottom: 20px;
}

.auth-form__input {
  height: 27px;
  background-color: transparent;
  color: aliceblue;
  border: none;
  border-bottom: 2px solid #cccccc;
  padding-bottom: 13px;
  margin-bottom: 30px;
}

.auth-form__input:focus {
    outline: none;
}

.auth-form__input::placeholder {
    color: black;
}

.auth-form__button {
    border-radius: 10px;
    border: none;
    background-color: royalblue;
    color: white;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.auth-form__button:hover {
    opacity: 0.85;
}

.auth-form__link-paragraph {
   text-align: center;
   font-size: 20px;
   line-height: 25px;
   margin-top: 7px;
}

.auth-form__link {
    color: blue;
    text-decoration: none;
}

.auth-form__link:hover {
    color: gray;
}